In [111]:
import pandas as pd
import numpy as np
import datetime

## Dataframe HECHOS

Se carga primero la pestaña de **HECHOS** del archivo homicidios.xlsx

In [112]:
df_hechos = pd.read_excel(r'Datasets/homicidios.xlsx', sheet_name='HECHOS')

In [113]:
df_hechos.head(1)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

In [114]:
df_hechos.shape

(696, 21)

## Dataframe VICTIMAS

Se carga la pestaña **VICTIMAS** del archivo homicidio.xlsx

In [115]:
df_victimas=pd.read_excel(r'Datasets/homicidios.xlsx', sheet_name='VICTIMAS')

In [116]:
df_victimas.head(1)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

In [117]:
df_victimas.shape

(717, 10)

## Dataframe HOMICIDIOS

Vamos a unir los dos dataframes para poder ver y procesar mejor la información.

In [118]:
df_homicidios = pd.merge(df_hechos, df_victimas, left_on='ID', right_on='ID_hecho')

In [119]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   N_VICTIMAS             717 non-null    int64
 2   FECHA_x                717 non-null    datetime64[ns]
 3   AAAA_x                 717 non-null    int64
 4   MM_x                   717 non-null    int64
 5   DD_x                   717 non-null    int64
 6   HORA                   717 non-null    object
 7   HH                     717 non-null    object
 8   LUGAR_DEL_HECHO        717 non-null    object
 9   TIPO_DE_CALLE          717 non-null    object
 10  Calle                  716 non-null    object
 11  Altura                 133 non-null    float64
 12  Cruce                  540 non-null    object
 13  Dirección Normalizada  708 non-null    object
 14  COMUNA                 717 non-null    int64
 15  XY (CABA)              717 non-null    object
 16  pos x                  717 non-null    object
 17  pos y                  717 non-null    object
 18  PARTICIPANTES          717 non-null    object
 19  VICTIMA_x              717 non-null    object
 20  ACUSADO                717 non-null    object
 21  ID_hecho               717 non-null    object
 22  FECHA_y                717 non-null    datetime64[ns]
 23  AAAA_y                 717 non-null    int64
 24  MM_y                   717 non-null    int64
 25  DD_y                   717 non-null    int64
 26  ROL                    717 non-null    object
 27  VICTIMA_y              717 non-null    object
 28  SEXO                   717 non-null    object
 29  EDAD                   717 non-null    object
 30  FECHA_FALLECIMIENTO    717 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(8), object(20)
memory usage: 173.8+ KB

In [120]:
df_homicidios.head(1)

,ID,N_VICTIMAS,FECHA_x,AAAA_x,MM_x,DD_x,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ID_hecho,FECHA_y,AAAA_y,MM_y,DD_y,ROL,VICTIMA_y,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

In [121]:
df_homicidios.shape

(717, 31)

In [122]:
df_homicidios.columns

Index(['ID', 'N_VICTIMAS', 'FECHA_x', 'AAAA_x', 'MM_x', 'DD_x', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA_x', 'ACUSADO', 'ID_hecho', 'FECHA_y',
       'AAAA_y', 'MM_y', 'DD_y', 'ROL', 'VICTIMA_y', 'SEXO', 'EDAD',
       'FECHA_FALLECIMIENTO'],
      dtype='object')

Se comienza eliminando la información que no se utilizará o es redundante.

In [123]:
df_homicidios.drop(['ID', 'HH','FECHA_y','AAAA_y', 'MM_y', 'DD_y','XY (CABA)','VICTIMA_y','FECHA_FALLECIMIENTO'],axis=1,inplace=True)

In [124]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   N_VICTIMAS             717 non-null    int64
 1   FECHA_x                717 non-null    datetime64[ns]
 2   AAAA_x                 717 non-null    int64
 3   MM_x                   717 non-null    int64
 4   DD_x                   717 non-null    int64
 5   HORA                   717 non-null    object
 6   LUGAR_DEL_HECHO        717 non-null    object
 7   TIPO_DE_CALLE          717 non-null    object
 8   Calle                  716 non-null    object
 9   Altura                 133 non-null    float64
 10  Cruce                  540 non-null    object
 11  Dirección Normalizada  708 non-null    object
 12  COMUNA                 717 non-null    int64
 13  pos x                  717 non-null    object
 14  pos y                  717 non-null    object
 15  PARTICIPANTES          717 non-null    object
 16  VICTIMA_x              717 non-null    object
 17  ACUSADO                717 non-null    object
 18  ID_hecho               717 non-null    object
 19  ROL                    717 non-null    object
 20  SEXO                   717 non-null    object
 21  EDAD                   717 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 123.4+ KB

Movemos la columna *ID_hecho* al principio de todo.

In [125]:
col = df_homicidios.pop('ID_hecho')
df_homicidios.insert(0, col.name, col)

Cambiamos los nombres de las columnas

In [126]:
df_homicidios.columns

Index(['ID_hecho', 'N_VICTIMAS', 'FECHA_x', 'AAAA_x', 'MM_x', 'DD_x', 'HORA',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'pos x', 'pos y', 'PARTICIPANTES',
       'VICTIMA_x', 'ACUSADO', 'ROL', 'SEXO', 'EDAD'],
      dtype='object')

In [127]:
df_homicidios.rename(columns={'N_VICTIMAS':'cant_victimas','FECHA_x':'fecha', 'AAAA_x':'año', 
                              'MM_x':'mes', 'DD_x':'día', 'Dirección Normalizada':'dirección', 
                              'pos x':'latitud', 'pos y':'longitud','VICTIMA_x':'victima',
                              'PARTICIPANTES':'Involucrados'}, inplace=True)
df_homicidios.columns = df_homicidios.columns.str.lower()

In [128]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         717 non-null    object
 1   cant_victimas    717 non-null    int64
 2   fecha            717 non-null    datetime64[ns]
 3   año              717 non-null    int64
 4   mes              717 non-null    int64
 5   día              717 non-null    int64
 6   hora             717 non-null    object
 7   lugar_del_hecho  717 non-null    object
 8   tipo_de_calle    717 non-null    object
 9   calle            716 non-null    object
 10  altura           133 non-null    float64
 11  cruce            540 non-null    object
 12  dirección        708 non-null    object
 13  comuna           717 non-null    int64
 14  latitud          717 non-null    object
 15  longitud         717 non-null    object
 16  involucrados     717 non-null    object
 17  victima          717 non-null    object
 18  acusado          717 non-null    object
 19  rol              717 non-null    object
 20  sexo             717 non-null    object
 21  edad             717 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 123.4+ KB

Se da un primer vistazo a la cantidad de nulos.

In [129]:
df_homicidios.isnull().sum()

id_hecho             0
cant_victimas        0
fecha                0
año                  0
mes                  0
día                  0
hora                 0
lugar_del_hecho      0
tipo_de_calle        0
calle                1
altura             584
cruce              177
dirección            9
comuna               0
latitud              0
longitud             0
involucrados         0
victima              0
acusado              0
rol                  0
sexo                 0
edad                 0
dtype: int64

In [130]:
df_homicidios.columns

Index(['id_hecho', 'cant_victimas', 'fecha', 'año', 'mes', 'día', 'hora',
       'lugar_del_hecho', 'tipo_de_calle', 'calle', 'altura', 'cruce',
       'dirección', 'comuna', 'latitud', 'longitud', 'involucrados', 'victima',
       'acusado', 'rol', 'sexo', 'edad'],
      dtype='object')

## Transformación de las columnas
Se revisará cada columna para verificar la integridad mínima de los datosy así pasar a la postetiror etapa, en este caso el EDA.

### is_hecho

Se verifica que no haya duplicados

In [131]:
df_homicidios['id_hecho'].duplicated().sum()

21

En este caso los duplicados se permiten ya que cada clave de identificación de hecho esta relacionada con las víctimas

In [132]:
df_homicidios[df_homicidios['id_hecho'].duplicated(keep=False)]

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
29,2016-0041,2,2016-03-29,2016,3,29,11:00:00,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,DIRECTORIO AV.,...,DIRECTORIO AV. y RIVERA INDARTE AV.,7,-58.46076550,-34.63350444,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,54
30,2016-0041,2,2016-03-29,2016,3,29,11:00:00,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,DIRECTORIO AV.,...,DIRECTORIO AV. y RIVERA INDARTE AV.,7,-58.46076550,-34.63350444,MOTO-CARGAS,MOTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
98,2016-0126,2,2016-09-18,2016,9,18,22:45:00,IRIGOYEN Y TINOGASTA,CALLE,IRIGOYEN,...,IRIGOYEN y TINOGASTA,10,-58.52572109,-34.62125906,AUTO-CARGAS,AUTO,CARGAS,CONDUCTOR,MASCULINO,37
99,2016-0126,2,2016-09-18,2016,9,18,22:45:00,IRIGOYEN Y TINOGASTA,CALLE,IRIGOYEN,...,IRIGOYEN y TINOGASTA,10,-58.52572109,-34.62125906,AUTO-CARGAS,AUTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,60
163,2017-0026,2,2017-02-26,2017,2,26,05:15:00,AV. PERITO MORENO Y FOURNIER,AVENIDA,"MORENO, PERITO AV.",...,"MORENO, PERITO AV. y FOURNIER",4,-58.41842777,-34.64979057,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,FEMENINO,23
164,2017-0026,2,2017-02-26,2017,2,26,05:15:00,AV. PERITO MORENO Y FOURNIER,AVENIDA,"MORENO, PERITO AV.",...,"MORENO, PERITO AV. y FOURNIER",4,-58.41842777,-34.64979057,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,19
173,2017-0035,3,2017-03-23,2017,3,23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.",...,"ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,28
174,2017-0035,3,2017-03-23,2017,3,23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.",...,"ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,32
175,2017-0035,3,2017-03-23,2017,3,23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.",...,"ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...",1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,30
176,2017-0036,2,2017-03-29,2017,3,29,18:00:00,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y CAMPANA",12,-58.51452347,-34.58159762,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,SD
177,2017-0036,2,2017-03-29,2017,3,29,18:00:00,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y CAMPANA",12,-58.51452347,-34.58159762,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,20
186,2017-0050,2,2017-04-28,2017,4,28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,...,NaN,9,.,.,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,46
187,2017-0050,2,2017-04-28,2017,4,28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,...,NaN,9,.,.,MOTO-CARGAS,MOTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,16
237,2017-0108,2,2017-09-02,2017,9,2,04:53:08,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y MACHAIN",12,-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,17
238,2017-0108,2,2017-09-02,2017,9,2,04:53:08,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y MACHAIN",12,-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,10
242,2017-0112,2,2017-09-10,2017,9,10,09:32:17,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,AUTOPISTA 25 DE MAYO,...,AUTOPISTA 25 DE MAYO y VARELA AV.,7,-58.45807401,-34.63997430,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,1
243,2017-0112,2,2017-09-10,2017,9,10,09:32:17,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,AUTOPISTA 25 DE MAYO,...,AUTOPISTA 25 DE MAYO y VARELA AV.,7,-58.45807401,-34.63997430,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
253,2017-0126,2,2017-10-14,2017,10,14,06:15:00,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,RIESTRA AV.,...,RIESTRA AV. y CAÃ‘ADA DE GOMEZ,8,-58.48003734,-34.68148508,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,39
254,2017-0126,2,2017-10-14,2017,10,14,06:15:00,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,RIESTRA AV.,...,RIESTRA AV. y CAÃ‘ADA DE GOMEZ,8,-58.48003734,-34.68148508,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,36
277,2017-0153,2,2017-12-11,2017,12,11,02:00:00,ROSARIO Y AV. LA PLATA,AVENIDA,ROSARIO,...,ROSARIO y LA PLATA AV.,6,-58.42855267,-34.61829385,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
278,2017-0153,2,2017-12-11,2017,12,11,02:00:00,ROSARIO Y AV. LA PLATA,AVENIDA,ROSARIO,...,ROSARIO y LA PLATA AV.,6,-58.42855267,-34.61829385,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,30
300,2018-0015,2,2018-02-06,2018,2,6,01:00:00,Australia Av. 2800,AVENIDA,AUSTRALIA AV.,...,AUSTRALIA AV. 2800,4,-58.38636298,-34.64684275,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,28
301,2018-0015,2,2018-02-06,2018,2,6,01:00:00,Australia Av. 2800,AVENIDA,AUSTRALIA AV.,...,AUSTRALIA AV. 2800,4,-58.38636298,-34.64684275,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,19
312,2018-0026,2,2018-03-09,2018,3,9,04:45:00,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.",...,"RABANAL, FRANCISCO, INTENDENTE AV. y SAENZ AV.",4,-58.41657793,-34.65476216,MOVIL-CARGAS,MOVIL,CARGAS,CONDUCTOR,MASCULINO,24
313,2018-0026,2,2018-03-09,2018,3,9,04:45:00,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.",...,"RABANAL, FRANCISCO, INTENDENTE AV. y SAENZ AV.",4,-58.41657793,-34.65476216,MOVIL-CARGAS,MOVIL,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,30
325,2018-0038,2,2018-04-20,2018,4,20,17:10:00,AV. RIVADAVIA 1571,AVENIDA,RIVADAVIA AV.,...,RIVADAVIA AV. 1571,1,-58.38872177,-34.60885045,PEATON-AUTO,PEATON,AUTO,PEATON,FEMENINO,59
326,2018-0038,2,2018-04-20,2018,4,20,17:10:00,AV. RIVADAVIA 1571,AVENIDA,RIVADAVIA AV.,...,RIVADAVIA AV. 1571,1,-58.38872177,-34.60885045,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,61
373,2018-0085,2,2018-08-03,2018,8,3,18:16:00,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,ENTRE RIOS AV.,...,"ENTRE RIOS AV. y GARAY, JUAN DE AV.",3,-58.39118948,-34.62704273,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,22
374,2018-0085,2,2018-08-03,2018,8,3,18:16:00,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,ENTRE RIOS AV.,...,"ENTRE RIOS AV. y GARAY, JUAN DE AV.",3,-58.39118948,-34.62704273,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,30
387,2018-0098,2,2018-09-09,2018,9,9,05:00:00,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y BERON DE ASTRADA",8,-58.47199387,-34.69640164,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,55
388,2018-0098,2,2018-09-09,2018,9,9,05:00:00,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y BERON DE ASTRADA",8,-58.47199387,-34.69640164,AUTO-AUTO,AUTO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,54
418,2018-0128,2,2018-11-25,2018,11,25,04:30:00,"Paz, Gral. Av. 11200",GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. 11200",9,-58.52844623,-34.64592873,AUTO-PASAJEROS,AUTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,49
419,2018-0128,2,2018-11-25,2018,11,25,04:30:00,"Paz, Gral. Av. 11200",GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. 11200",9,-58.52844623,-34.64592873,AUTO-PASAJEROS,AUTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,39
444,2019-0010,2,2019-02-02,2019,2,2,07:50:00,DEL LIBERTADOR AV. 4100,AVENIDA,DEL LIBERTADOR AV.,...,DEL LIBERTADOR AV. 4100,14,-58.42668489,-34.56961468,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,SD
445,2019-0010,2,2019-02-02,2019,2,2,07:50:00,DEL LIBERTADOR AV. 4100,AVENIDA,DEL LIBERTADOR AV.,...,DEL LIBERTADOR AV. 4100,14,-58.42668489,-34.56961468,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,59
576,2020-0038,2,2020-08-30,2020,8,30,04:00:00,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,LAS HERAS GENERAL AV.,...,"LAS HERAS GENERAL AV. y DIAZ, CNEL. AV.",14,-58.40617526,-34.58345898,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,46
577,2020-0038,2,2020-08-30,2020,8,30,04:00:00,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,LAS HERAS GENERAL AV.,...,"LAS HERAS GENERAL AV. y DIAZ, CNEL. AV.",14,-58.40617526,-34.58345898,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,64
602,2020-0063,2,2020-12-05,2020,12,5,07:10:00,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,...,NUEVA YORK y ALTA GRACIA,11,-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO,PEATON,MASCULINO,38
603,2020-0063,2,2020-12-05,2020,12,5,07:10:00,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,...,NUEVA YORK y ALTA GRACIA,11,-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO,PASAJERO_ACOMPAÑANTE,MASCULINO,21
616,2020-0077,2,2020-12-25,2020,12,25,06:40:00,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,SAN MARTIN AV.,...,SAN MARTIN AV. y PUNTA ARENAS,15,-58.47220945,-34.60111373,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,FEMENINO,30
617,2020-0077,2,2020-12-25,2020,12,25,06:40:00,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,SAN MARTIN AV.,...,SAN MARTIN AV. y PUNTA ARENAS,15,-58.47220945,-34.60111373,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,24

### Cant_Victimas

En esta columna no hay inconvenientes

In [133]:
df_homicidios['cant_victimas'].value_counts()

cant_victimas
1    676
2     38
3      3
Name: count, dtype: int64

### Fecha, Año, Mes, Día

Se analizan las 3 columnas juntas porque estan relacionadas.

In [134]:
df_homicidios[df_homicidios['día']!=df_homicidios['fecha'].dt.day]

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
65,2016-0087,1,2016-07-02,2016,7,3,00:10:00,AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,...,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y C...,1,-58.37864583,-34.62907067,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,CONDUCTOR,MASCULINO,23

In [135]:
df_homicidios[df_homicidios['mes']!=df_homicidios['fecha'].dt.month]

Empty DataFrame
Columns: [id_hecho, cant_victimas, fecha, año, mes, día, hora, lugar_del_hecho, tipo_de_calle, calle, altura, cruce, dirección, comuna, latitud, longitud, involucrados, victima, acusado, rol, sexo, edad]
Index: []

[0 rows x 22 columns]

In [136]:
df_homicidios[df_homicidios['año']!=df_homicidios['fecha'].dt.year]

Empty DataFrame
Columns: [id_hecho, cant_victimas, fecha, año, mes, día, hora, lugar_del_hecho, tipo_de_calle, calle, altura, cruce, dirección, comuna, latitud, longitud, involucrados, victima, acusado, rol, sexo, edad]
Index: []

[0 rows x 22 columns]

Al ver que solo hay diferencia en uno solo de los días hacemos una función para cambiar los dias que sean diferentes.

In [137]:
def cambiar_dia(x):
    return x.dt.day

In [138]:
df_homicidios['día'][df_homicidios['día']!=df_homicidios['fecha'].dt.day] = cambiar_dia(df_homicidios['fecha'])

C:\Users\juan\AppData\Local\Temp\ipykernel_18300\116003399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicidios['día'][df_homicidios['día']!=df_homicidios['fecha'].dt.day] = cambiar_dia(df_homicidios['fecha'])

In [139]:
df_homicidios[df_homicidios['día']!=df_homicidios['fecha'].dt.day]

Empty DataFrame
Columns: [id_hecho, cant_victimas, fecha, año, mes, día, hora, lugar_del_hecho, tipo_de_calle, calle, altura, cruce, dirección, comuna, latitud, longitud, involucrados, victima, acusado, rol, sexo, edad]
Index: []

[0 rows x 22 columns]

### Hora

Ahora se convierte toda la columna hora en tipo de dato datetime, que es mejor para el manejo de la hora al igual que las fechas.

In [140]:
df_homicidios['hora']= pd.to_datetime(df_homicidios['hora'], format='%H:%M:%S', errors='coerce')

In [141]:
df_homicidios['hora'].isnull().sum()

1

In [142]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         717 non-null    object
 1   cant_victimas    717 non-null    int64
 2   fecha            717 non-null    datetime64[ns]
 3   año              717 non-null    int64
 4   mes              717 non-null    int64
 5   día              717 non-null    int64
 6   hora             716 non-null    datetime64[ns]
 7   lugar_del_hecho  717 non-null    object
 8   tipo_de_calle    717 non-null    object
 9   calle            716 non-null    object
 10  altura           133 non-null    float64
 11  cruce            540 non-null    object
 12  dirección        708 non-null    object
 13  comuna           717 non-null    int64
 14  latitud          717 non-null    object
 15  longitud         717 non-null    object
 16  involucrados     717 non-null    object
 17  victima          717 non-null    object
 18  acusado          717 non-null    object
 19  rol              717 non-null    object
 20  sexo             717 non-null    object
 21  edad             717 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(5), object(14)
memory usage: 123.4+ KB

### Lugar_Del_Hecho, Calle, Altura

In [143]:
df_homicidios['lugar_del_hecho']

0      AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ
1              AV GRAL PAZ  Y AV DE LOS CORRALES
2                             AV ENTRE RIOS 2034
3          AV LARRAZABAL Y GRAL VILLEGAS CONRADO
4      AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA
                         ...
712                            AV. RIESTRA Y MOM
713                      AU DELLEPIANE Y LACARRA
714                          AV. GAONA Y TERRADA
715                           AV. EVA PERON 4071
716                      PADRE CARLOS MUJICA 709
Name: lugar_del_hecho, Length: 717, dtype: object

In [144]:
df_homicidios[df_homicidios['calle'].isnull()]

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
121,2016-0151,1,2016-11-18,2016,11,18,1900-01-01 20:35:00,SD,CALLE,NaN,...,NaN,0,.,.,PEATON-SD,PEATON,SD,PEATON,SD,SD

In [145]:
df_homicidios['cruce']

0      FERNANDEZ DE LA CRUZ, F., GRAL. AV.
1                      DE LOS CORRALES AV.
2                                      NaN
3                 VILLEGAS, CONRADO, GRAL.
4                  SAENZ PE?A, LUIS, PRES.
                      ...
712                                    MOM
713                            LACARRA AV.
714                                TERRADA
715                                    NaN
716                                    NaN
Name: cruce, Length: 717, dtype: object

In [146]:
df_homicidios['altura'].isnull().sum()

584

### Dirección normalizada

In [147]:
df_homicidios[df_homicidios['dirección'].isnull()]

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
39,2016-0052,1,2016-04-20,2016,4,20,1900-01-01 20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,NaN,13,.,.,MOTO-SD,MOTO,SD,SD,SD,SD
108,2016-0136,1,2016-10-25,2016,10,25,1900-01-01 00:00:00,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,...,NaN,4,.,.,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,SD,SD
121,2016-0151,1,2016-11-18,2016,11,18,1900-01-01 20:35:00,SD,CALLE,NaN,...,NaN,0,.,.,PEATON-SD,PEATON,SD,PEATON,SD,SD
186,2017-0050,2,2017-04-28,2017,4,28,1900-01-01 11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,...,NaN,9,.,.,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,46
187,2017-0050,2,2017-04-28,2017,4,28,1900-01-01 11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,...,NaN,9,.,.,MOTO-CARGAS,MOTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,16
188,2017-0051,1,2017-05-01,2017,5,1,1900-01-01 03:47:47,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,...,NaN,7,.,.,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,33
327,2018-0039,1,2018-04-21,2018,4,21,1900-01-01 22:15:00,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,NaN,14,.,.,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,37
564,2020-0026,1,2020-05-17,2020,5,17,1900-01-01 06:40:00,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,NaN,14,.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,CONDUCTOR,MASCULINO,28
642,2021-0023,1,2021-03-01,2021,3,1,1900-01-01 09:20:00,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,...,NaN,4,.,.,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,24

### Comuna

In [148]:
df_homicidios[df_homicidios['comuna']==0]

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
121,2016-0151,1,2016-11-18,2016,11,18,1900-01-01 20:35:00,SD,CALLE,NaN,...,NaN,0,.,.,PEATON-SD,PEATON,SD,PEATON,SD,SD
141,2016-0174,1,2016-12-27,2016,12,27,1900-01-01 00:00:00,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,...,AUTOPISTA 25 DE MAYO,0,.,.,SD-SD,SD,SD,SD,SD,SD

Al ver que a esas filas le faltan varios campos lo mejor es borrarlas.

In [149]:
df_homicidios=df_homicidios[df_homicidios['comuna']!=0]

### Latitud y Longitud

Se crea una función para transformar las columnas Latitud y Longitud en float y en el caso de no poder reemplaza el valor por NaN

In [150]:
valores=list()
def transformar_float(x):
    try:
        return float(x)
    except:
        valores.append(x)

In [151]:
df_homicidios['latitud'] = df_homicidios['latitud'].apply(transformar_float)

In [152]:
valores

['.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.']

In [153]:
valores=list()
def transformar_float(x):
    try:
        return float(x)
    except:
        valores.append(x)

In [154]:
df_homicidios['longitud'] = df_homicidios['longitud'].apply(transformar_float)

In [155]:
valores

['.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.']

Como se aprecia los valores que no se puediero convertir en *float* son puntos, por lo que se remplazaran por **None**

In [156]:
def reemplazar(x):
    try:
        return float(x)
    except:
        return None

In [157]:
df_homicidios['latitud'] = df_homicidios['latitud'].apply(reemplazar)
df_homicidios['longitud'] = df_homicidios['longitud'].apply(reemplazar)

In [158]:
df_homicidios.columns

Index(['id_hecho', 'cant_victimas', 'fecha', 'año', 'mes', 'día', 'hora',
       'lugar_del_hecho', 'tipo_de_calle', 'calle', 'altura', 'cruce',
       'dirección', 'comuna', 'latitud', 'longitud', 'involucrados', 'victima',
       'acusado', 'rol', 'sexo', 'edad'],
      dtype='object')

### Involucrados, vicitma, acusado

In [159]:
df_homicidios[df_homicidios['involucrados'].str.contains('SD', na=False)][['involucrados', 'victima', 'acusado']]

     involucrados    victima acusado
3         MOTO-SD       MOTO      SD
33        MOTO-SD       MOTO      SD
36          SD-SD         SD      SD
39        MOTO-SD       MOTO      SD
58        AUTO-SD       AUTO      SD
77          SD-SD         SD      SD
84      PEATON-SD     PEATON      SD
89      SD-CARGAS         SD  CARGAS
93          SD-SD         SD      SD
107     PEATON-SD     PEATON      SD
114       MOTO-SD       MOTO      SD
128       AUTO-SD       AUTO      SD
162       MOTO-SD       MOTO      SD
167       SD-AUTO         SD    AUTO
204       MOTO-SD       MOTO      SD
208         SD-SD         SD      SD
221       SD-AUTO         SD    AUTO
223       MOTO-SD       MOTO      SD
280       SD-MOTO         SD    MOTO
409     PEATON-SD     PEATON      SD
413       AUTO-SD       AUTO      SD
457       AUTO-SD       AUTO      SD
468       MOTO-SD       MOTO      SD
475       MOTO-SD       MOTO      SD
641  PASAJEROS-SD  PASAJEROS      SD

In [160]:
df_homicidios[df_homicidios['involucrados']!=df_homicidios['victima'] +'-'+df_homicidios['acusado']]['involucrados'].count()

22

In [161]:
df_homicidios[df_homicidios['involucrados']!=df_homicidios['victima'] +'-'+df_homicidios['acusado']][['involucrados', 'victima', 'acusado']]

         involucrados      victima   acusado
32           MULTIPLE         MOTO  MULTIPLE
63         MOTO-MOVIL         MOTO      OTRO
145          MULTIPLE       PEATON  MULTIPLE
148          MULTIPLE       PEATON  MULTIPLE
155          MULTIPLE         MOTO  MULTIPLE
180          MULTIPLE         AUTO  MULTIPLE
232          MULTIPLE       PEATON  MULTIPLE
237  AUTO-OBJETO FIJO  OBJETO FIJO      AUTO
238  AUTO-OBJETO FIJO  OBJETO FIJO      AUTO
288          MULTIPLE       PEATON  MULTIPLE
289          MULTIPLE         MOTO  MULTIPLE
347        MOTO-MOVIL         MOTO      OTRO
369          MULTIPLE       PEATON  MULTIPLE
386        AUTO-MOVIL         AUTO      OTRO
391          MULTIPLE         AUTO  MULTIPLE
442          MULTIPLE         MOTO  MULTIPLE
462          MULTIPLE    BICICLETA  MULTIPLE
476          MULTIPLE         AUTO  MULTIPLE
531          MULTIPLE         MOTO  MULTIPLE
568          MULTIPLE         MOTO  MULTIPLE
664          MULTIPLE         MOTO  MULTIPLE
693          MULTIPLE         MOTO  MULTIPLE

En base a lo evidenciado en las columnas de *participantes*, *victimas* y *acusado*. Lo mejor es borrar la columna *participantes*.

### Rol

In [162]:
df_homicidios[df_homicidios['rol']=='SD']

,id_hecho,cant_victimas,fecha,año,mes,día,hora,lugar_del_hecho,tipo_de_calle,calle,...,dirección,comuna,latitud,longitud,involucrados,victima,acusado,rol,sexo,edad
36,2016-0049,1,2016-04-17,2016,4,17,1900-01-01 00:00:00,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,...,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,-58.377146,-34.636575,SD-SD,SD,SD,SD,SD,SD
39,2016-0052,1,2016-04-20,2016,4,20,1900-01-01 20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",...,NaN,13,NaN,NaN,MOTO-SD,MOTO,SD,SD,SD,SD
63,2016-0085,1,2016-06-29,2016,6,29,1900-01-01 22:00:00,AVDA ITE FRANCISCO RABANAL & AVDA EREZCANO,AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.",...,"RABANAL, FRANCISCO, INTENDENTE AV. y EREZCANO",4,-58.423788,-34.657341,MOTO-MOVIL,MOTO,OTRO,SD,MASCULINO,SD
77,2016-0101,1,2016-08-07,2016,8,7,1900-01-01 19:42:00,AV GRAL PAZ Y JORGE CHAVEZ,GRAL PAZ,"PAZ, GRAL. AV.",...,"PAZ, GRAL. AV. y CHAVEZ, JORGE",9,-58.529329,-34.650150,SD-SD,SD,SD,SD,MASCULINO,67
89,2016-0115,1,2016-09-02,2016,9,2,1900-01-01 11:50:00,ARIAS Y TRONADOR,CALLE,ARIAS,...,ARIAS y TRONADOR,12,-58.489350,-34.549177,SD-CARGAS,SD,CARGAS,SD,MASCULINO,SD
167,2017-0029,1,2017-03-07,2017,3,7,1900-01-01 02:15:00,MOZART Y TANDIL,CALLE,MOZART,...,MOZART y TANDIL,9,-58.485013,-34.647425,SD-AUTO,SD,AUTO,SD,MASCULINO,34
208,2017-0074,1,2017-06-04,2017,6,4,1900-01-01 12:50:00,CASCO 133,CALLE,CASCO,...,CASCO 133,9,-58.525671,-34.637878,SD-SD,SD,SD,SD,MASCULINO,70
221,2017-0089,1,2017-07-13,2017,7,13,1900-01-01 12:05:00,MARTINIANO LEGUIZAMON 901,CALLE,"LEGUIZAMON, MARTINIANO",...,"LEGUIZAMON, MARTINIANO 901",9,-58.515147,-34.647871,SD-AUTO,SD,AUTO,SD,MASCULINO,23
280,2017-0155,1,2017-12-12,2017,12,12,1900-01-01 21:25:41,AV. RIVADAVIA 6350,AVENIDA,RIVADAVIA AV.,...,RIVADAVIA AV. 6350,7,-58.455939,-34.626569,SD-MOTO,SD,MOTO,SD,MASCULINO,77
390,2018-0100,1,2018-09-20,2018,9,20,1900-01-01 10:30:00,Elvira Rawson de Dellepiane 150,AVENIDA,"RAWSON DE DELLEPIANE, ELVIRA AV.",...,"RAWSON DE DELLEPIANE, ELVIRA AV. 150",1,-58.362178,-34.623672,MOTO-AUTO,MOTO,AUTO,SD,FEMENINO,33

### Sexo

In [163]:
df_homicidios['sexo'].value_counts()

sexo
MASCULINO    545
FEMENINO     166
SD             4
Name: count, dtype: int64

### EDAD

In [164]:
df_homicidios['edad'].value_counts()

edad
SD    51
30    28
29    24
23    24
27    20
      ..
11     1
13     1
85     1
7      1
88     1
Name: count, Length: 86, dtype: int64

In [165]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 715 entries, 0 to 716
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         715 non-null    object
 1   cant_victimas    715 non-null    int64
 2   fecha            715 non-null    datetime64[ns]
 3   año              715 non-null    int64
 4   mes              715 non-null    int64
 5   día              715 non-null    int64
 6   hora             714 non-null    datetime64[ns]
 7   lugar_del_hecho  715 non-null    object
 8   tipo_de_calle    715 non-null    object
 9   calle            715 non-null    object
 10  altura           133 non-null    float64
 11  cruce            540 non-null    object
 12  dirección        707 non-null    object
 13  comuna           715 non-null    int64
 14  latitud          704 non-null    float64
 15  longitud         704 non-null    float64
 16  involucrados     715 non-null    object
 17  victima          715 non-null    object
 18  acusado          715 non-null    object
 19  rol              715 non-null    object
 20  sexo             715 non-null    object
 21  edad             715 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(5), object(12)
memory usage: 128.5+ KB

In [166]:
#Evaluar esto
df_homicidios.drop(columns=['año','mes','día'],inplace=True)

In [170]:
df_homicidios.to_excel('Datasets/data.xlsx', index=False)