In [1]:
import pandas as pd
import numpy as np
import datetime

## Dataframe HECHOS

Se carga primero la pestaña de **HECHOS** del archivo homicidios.xlsx

In [2]:
df_hechos = pd.read_excel(r'Datasets/homicidios.xlsx', sheet_name='HECHOS')

In [3]:
df_hechos.head(1)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

In [4]:
df_hechos.shape

(696, 21)

## Dataframe VICTIMAS

Se carga la pestaña **VICTIMAS** del archivo homicidio.xlsx

In [5]:
df_victimas=pd.read_excel(r'Datasets/homicidios.xlsx', sheet_name='VICTIMAS')

In [6]:
df_victimas.head(1)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

In [7]:
df_victimas.shape

(717, 10)

## Dataframe HOMICIDIOS

Vamos a unir los dos dataframes para poder ver y procesar mejor la información.

In [8]:
df_homicidios = pd.merge(df_hechos, df_victimas, left_on='ID', right_on='ID_hecho')

In [9]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   N_VICTIMAS             717 non-null    int64
 2   FECHA_x                717 non-null    datetime64[ns]
 3   AAAA_x                 717 non-null    int64
 4   MM_x                   717 non-null    int64
 5   DD_x                   717 non-null    int64
 6   HORA                   717 non-null    object
 7   HH                     717 non-null    object
 8   LUGAR_DEL_HECHO        717 non-null    object
 9   TIPO_DE_CALLE          717 non-null    object
 10  Calle                  716 non-null    object
 11  Altura                 133 non-null    float64
 12  Cruce                  540 non-null    object
 13  Dirección Normalizada  708 non-null    object
 14  COMUNA                 717 non-null    int64
 15  XY (CABA)              717 non-null    object
 16  pos x                  717 non-null    object
 17  pos y                  717 non-null    object
 18  PARTICIPANTES          717 non-null    object
 19  VICTIMA_x              717 non-null    object
 20  ACUSADO                717 non-null    object
 21  ID_hecho               717 non-null    object
 22  FECHA_y                717 non-null    datetime64[ns]
 23  AAAA_y                 717 non-null    int64
 24  MM_y                   717 non-null    int64
 25  DD_y                   717 non-null    int64
 26  ROL                    717 non-null    object
 27  VICTIMA_y              717 non-null    object
 28  SEXO                   717 non-null    object
 29  EDAD                   717 non-null    object
 30  FECHA_FALLECIMIENTO    717 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(8), object(20)
memory usage: 173.8+ KB

In [10]:
df_homicidios.head(1)

,ID,N_VICTIMAS,FECHA_x,AAAA_x,MM_x,DD_x,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ID_hecho,FECHA_y,AAAA_y,MM_y,DD_y,ROL,VICTIMA_y,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

In [11]:
df_homicidios.shape

(717, 31)

In [12]:
df_homicidios.columns

Index(['ID', 'N_VICTIMAS', 'FECHA_x', 'AAAA_x', 'MM_x', 'DD_x', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA_x', 'ACUSADO', 'ID_hecho', 'FECHA_y',
       'AAAA_y', 'MM_y', 'DD_y', 'ROL', 'VICTIMA_y', 'SEXO', 'EDAD',
       'FECHA_FALLECIMIENTO'],
      dtype='object')

Se comienza eliminando la información que no se utilizará o es redundante.

In [13]:
df_homicidios.drop(['ID', 'HH','FECHA_y','AAAA_y', 'MM_y', 'DD_y','XY (CABA)','VICTIMA_y',
                    'FECHA_FALLECIMIENTO','AAAA_x','MM_x','DD_x','Calle','Altura','Cruce',
                    'Dirección Normalizada'],axis=1,inplace=True)

In [14]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   N_VICTIMAS       717 non-null    int64
 1   FECHA_x          717 non-null    datetime64[ns]
 2   HORA             717 non-null    object
 3   LUGAR_DEL_HECHO  717 non-null    object
 4   TIPO_DE_CALLE    717 non-null    object
 5   COMUNA           717 non-null    int64
 6   pos x            717 non-null    object
 7   pos y            717 non-null    object
 8   PARTICIPANTES    717 non-null    object
 9   VICTIMA_x        717 non-null    object
 10  ACUSADO          717 non-null    object
 11  ID_hecho         717 non-null    object
 12  ROL              717 non-null    object
 13  SEXO             717 non-null    object
 14  EDAD             717 non-null    object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 84.2+ KB

Movemos la columna *ID_hecho* al principio de todo.

In [15]:
col = df_homicidios.pop('ID_hecho')
df_homicidios.insert(0, col.name, col)

Cambiamos los nombres de las columnas

In [16]:
df_homicidios.columns

Index(['ID_hecho', 'N_VICTIMAS', 'FECHA_x', 'HORA', 'LUGAR_DEL_HECHO',
       'TIPO_DE_CALLE', 'COMUNA', 'pos x', 'pos y', 'PARTICIPANTES',
       'VICTIMA_x', 'ACUSADO', 'ROL', 'SEXO', 'EDAD'],
      dtype='object')

In [17]:
df_homicidios.rename(columns={'N_VICTIMAS':'cant_victimas','FECHA_x':'fecha', 'AAAA_x':'año', 
                              'MM_x':'mes', 'DD_x':'día', 'Dirección Normalizada':'dirección', 
                              'pos x':'longitud', 'pos y':'latitud','VICTIMA_x':'victima',
                              'PARTICIPANTES':'Involucrados'}, inplace=True)
df_homicidios.columns = df_homicidios.columns.str.lower()

In [18]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         717 non-null    object
 1   cant_victimas    717 non-null    int64
 2   fecha            717 non-null    datetime64[ns]
 3   hora             717 non-null    object
 4   lugar_del_hecho  717 non-null    object
 5   tipo_de_calle    717 non-null    object
 6   comuna           717 non-null    int64
 7   longitud         717 non-null    object
 8   latitud          717 non-null    object
 9   involucrados     717 non-null    object
 10  victima          717 non-null    object
 11  acusado          717 non-null    object
 12  rol              717 non-null    object
 13  sexo             717 non-null    object
 14  edad             717 non-null    object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 84.2+ KB

Se da un primer vistazo a la cantidad de nulos.

In [19]:
df_homicidios.isnull().sum()

id_hecho           0
cant_victimas      0
fecha              0
hora               0
lugar_del_hecho    0
tipo_de_calle      0
comuna             0
longitud           0
latitud            0
involucrados       0
victima            0
acusado            0
rol                0
sexo               0
edad               0
dtype: int64

In [20]:
df_homicidios.columns

Index(['id_hecho', 'cant_victimas', 'fecha', 'hora', 'lugar_del_hecho',
       'tipo_de_calle', 'comuna', 'longitud', 'latitud', 'involucrados',
       'victima', 'acusado', 'rol', 'sexo', 'edad'],
      dtype='object')

## Transformación de las columnas
Se revisará cada columna para verificar la integridad mínima de los datosy así pasar a la postetiror etapa, en este caso el EDA.

### is_hecho

Se verifica que no haya duplicados

In [21]:
df_homicidios['id_hecho'].duplicated().sum()

21

En este caso los duplicados se permiten ya que cada clave de identificación de hecho esta relacionada con las víctimas

In [22]:
df_homicidios[df_homicidios['id_hecho'].duplicated(keep=False)]

,id_hecho,cant_victimas,fecha,hora,lugar_del_hecho,tipo_de_calle,comuna,longitud,latitud,involucrados,victima,acusado,rol,sexo,edad
29,2016-0041,2,2016-03-29,11:00:00,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,7,-58.46076550,-34.63350444,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,54
30,2016-0041,2,2016-03-29,11:00:00,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,7,-58.46076550,-34.63350444,MOTO-CARGAS,MOTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
98,2016-0126,2,2016-09-18,22:45:00,IRIGOYEN Y TINOGASTA,CALLE,10,-58.52572109,-34.62125906,AUTO-CARGAS,AUTO,CARGAS,CONDUCTOR,MASCULINO,37
99,2016-0126,2,2016-09-18,22:45:00,IRIGOYEN Y TINOGASTA,CALLE,10,-58.52572109,-34.62125906,AUTO-CARGAS,AUTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,60
163,2017-0026,2,2017-02-26,05:15:00,AV. PERITO MORENO Y FOURNIER,AVENIDA,4,-58.41842777,-34.64979057,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,FEMENINO,23
164,2017-0026,2,2017-02-26,05:15:00,AV. PERITO MORENO Y FOURNIER,AVENIDA,4,-58.41842777,-34.64979057,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,19
173,2017-0035,3,2017-03-23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,28
174,2017-0035,3,2017-03-23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,32
175,2017-0035,3,2017-03-23,05:00:00,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,1,-58.35881506,-34.61113641,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,30
176,2017-0036,2,2017-03-29,18:00:00,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,12,-58.51452347,-34.58159762,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,SD
177,2017-0036,2,2017-03-29,18:00:00,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,12,-58.51452347,-34.58159762,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,20
186,2017-0050,2,2017-04-28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,9,.,.,MOTO-CARGAS,MOTO,CARGAS,CONDUCTOR,MASCULINO,46
187,2017-0050,2,2017-04-28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,9,.,.,MOTO-CARGAS,MOTO,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,16
237,2017-0108,2,2017-09-02,04:53:08,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,12,-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,17
238,2017-0108,2,2017-09-02,04:53:08,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,12,-58.49491054,-34.54795581,AUTO-OBJETO FIJO,OBJETO FIJO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,10
242,2017-0112,2,2017-09-10,09:32:17,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,7,-58.45807401,-34.63997430,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,1
243,2017-0112,2,2017-09-10,09:32:17,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,7,-58.45807401,-34.63997430,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
253,2017-0126,2,2017-10-14,06:15:00,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,8,-58.48003734,-34.68148508,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,PASAJERO_ACOMPAÑANTE,MASCULINO,39
254,2017-0126,2,2017-10-14,06:15:00,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,8,-58.48003734,-34.68148508,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO,CONDUCTOR,MASCULINO,36
277,2017-0153,2,2017-12-11,02:00:00,ROSARIO Y AV. LA PLATA,AVENIDA,6,-58.42855267,-34.61829385,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,SD
278,2017-0153,2,2017-12-11,02:00:00,ROSARIO Y AV. LA PLATA,AVENIDA,6,-58.42855267,-34.61829385,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,30
300,2018-0015,2,2018-02-06,01:00:00,Australia Av. 2800,AVENIDA,4,-58.38636298,-34.64684275,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,28
301,2018-0015,2,2018-02-06,01:00:00,Australia Av. 2800,AVENIDA,4,-58.38636298,-34.64684275,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,19
312,2018-0026,2,2018-03-09,04:45:00,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,4,-58.41657793,-34.65476216,MOVIL-CARGAS,MOVIL,CARGAS,CONDUCTOR,MASCULINO,24
313,2018-0026,2,2018-03-09,04:45:00,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,4,-58.41657793,-34.65476216,MOVIL-CARGAS,MOVIL,CARGAS,PASAJERO_ACOMPAÑANTE,MASCULINO,30
325,2018-0038,2,2018-04-20,17:10:00,AV. RIVADAVIA 1571,AVENIDA,1,-58.38872177,-34.60885045,PEATON-AUTO,PEATON,AUTO,PEATON,FEMENINO,59
326,2018-0038,2,2018-04-20,17:10:00,AV. RIVADAVIA 1571,AVENIDA,1,-58.38872177,-34.60885045,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,61
373,2018-0085,2,2018-08-03,18:16:00,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,3,-58.39118948,-34.62704273,MOTO-PASAJEROS,MOTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,22
374,2018-0085,2,2018-08-03,18:16:00,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,3,-58.39118948,-34.62704273,MOTO-PASAJEROS,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,30
387,2018-0098,2,2018-09-09,05:00:00,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,8,-58.47199387,-34.69640164,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,55
388,2018-0098,2,2018-09-09,05:00:00,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,8,-58.47199387,-34.69640164,AUTO-AUTO,AUTO,AUTO,PASAJERO_ACOMPAÑANTE,MASCULINO,54
418,2018-0128,2,2018-11-25,04:30:00,"Paz, Gral. Av. 11200",GRAL PAZ,9,-58.52844623,-34.64592873,AUTO-PASAJEROS,AUTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,MASCULINO,49
419,2018-0128,2,2018-11-25,04:30:00,"Paz, Gral. Av. 11200",GRAL PAZ,9,-58.52844623,-34.64592873,AUTO-PASAJEROS,AUTO,PASAJEROS,PASAJERO_ACOMPAÑANTE,FEMENINO,39
444,2019-0010,2,2019-02-02,07:50:00,DEL LIBERTADOR AV. 4100,AVENIDA,14,-58.42668489,-34.56961468,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,SD
445,2019-0010,2,2019-02-02,07:50:00,DEL LIBERTADOR AV. 4100,AVENIDA,14,-58.42668489,-34.56961468,PEATON-AUTO,PEATON,AUTO,PEATON,MASCULINO,59
576,2020-0038,2,2020-08-30,04:00:00,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,14,-58.40617526,-34.58345898,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,46
577,2020-0038,2,2020-08-30,04:00:00,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,14,-58.40617526,-34.58345898,AUTO-AUTO,AUTO,AUTO,CONDUCTOR,MASCULINO,64
602,2020-0063,2,2020-12-05,07:10:00,NUEVA YORK Y ALTA GRACIA,CALLE,11,-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO,PEATON,MASCULINO,38
603,2020-0063,2,2020-12-05,07:10:00,NUEVA YORK Y ALTA GRACIA,CALLE,11,-58.52783814,-34.61047001,PEATON_MOTO-MOTO,PEATON_MOTO,MOTO,PASAJERO_ACOMPAÑANTE,MASCULINO,21
616,2020-0077,2,2020-12-25,06:40:00,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,15,-58.47220945,-34.60111373,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,FEMENINO,30
617,2020-0077,2,2020-12-25,06:40:00,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,15,-58.47220945,-34.60111373,MOTO-AUTO,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,24

### Cant_Victimas

En esta columna no hay inconvenientes

In [23]:
df_homicidios['cant_victimas'].value_counts()

cant_victimas
1    676
2     38
3      3
Name: count, dtype: int64

### Fecha

Se revisan los valores nulos en la columna hora

In [24]:
df_homicidios['fecha'].isnull().sum()

0

### Hora

Ahora se convierte toda la columna hora en tipo de dato datetime, que es mejor para el manejo de la hora al igual que las fechas.

In [25]:
df_homicidios['hora']= pd.to_datetime(df_homicidios['hora'], format='%H:%M:%S', errors='coerce')

In [26]:
df_homicidios[df_homicidios['hora'].isnull()]

,id_hecho,cant_victimas,fecha,hora,lugar_del_hecho,tipo_de_calle,comuna,longitud,latitud,involucrados,victima,acusado,rol,sexo,edad
536,2019-0103,1,2019-12-18,NaT,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,11,-58.52169422,-34.59471640,MOTO-MOTO,MOTO,MOTO,CONDUCTOR,MASCULINO,24

In [27]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         717 non-null    object
 1   cant_victimas    717 non-null    int64
 2   fecha            717 non-null    datetime64[ns]
 3   hora             716 non-null    datetime64[ns]
 4   lugar_del_hecho  717 non-null    object
 5   tipo_de_calle    717 non-null    object
 6   comuna           717 non-null    int64
 7   longitud         717 non-null    object
 8   latitud          717 non-null    object
 9   involucrados     717 non-null    object
 10  victima          717 non-null    object
 11  acusado          717 non-null    object
 12  rol              717 non-null    object
 13  sexo             717 non-null    object
 14  edad             717 non-null    object
dtypes: datetime64[ns](2), int64(2), object(11)
memory usage: 84.2+ KB

### Lugar_Del_Hecho

In [28]:
df_homicidios['lugar_del_hecho'].isnull().sum()

0

### Comuna

In [29]:
df_homicidios[df_homicidios['comuna']==0]

,id_hecho,cant_victimas,fecha,hora,lugar_del_hecho,tipo_de_calle,comuna,longitud,latitud,involucrados,victima,acusado,rol,sexo,edad
121,2016-0151,1,2016-11-18,1900-01-01 20:35:00,SD,CALLE,0,.,.,PEATON-SD,PEATON,SD,PEATON,SD,SD
141,2016-0174,1,2016-12-27,1900-01-01 00:00:00,AUTOPISTA 25 DE MAYO,AUTOPISTA,0,.,.,SD-SD,SD,SD,SD,SD,SD

Al ver que a esas filas le faltan datos en varios campos se decide borrar estas filas.

In [30]:
df_homicidios=df_homicidios[df_homicidios['comuna']!=0]

### Latitud y Longitud

Se crea una función para transformar las columnas Latitud y Longitud en float y en el caso de no poder reemplaza el valor por NaN

In [31]:
valores=list()
def transformar_float(x):
    try:
        return float(x)
    except:
        valores.append(x)

In [32]:
df_homicidios['latitud'] = df_homicidios['latitud'].apply(transformar_float)

In [33]:
valores

['.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.']

In [34]:
valores=list()
def transformar_float(x):
    try:
        return float(x)
    except:
        valores.append(x)

In [35]:
df_homicidios['longitud'] = df_homicidios['longitud'].apply(transformar_float)

In [36]:
valores

['.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.']

Como se aprecia los valores que no se puediero convertir en *float* son puntos, por lo que se remplazaran por **None**

In [37]:
def reemplazar(x):
    try:
        return float(x)
    except:
        return None

In [38]:
df_homicidios['latitud'] = df_homicidios['latitud'].apply(reemplazar)
df_homicidios['longitud'] = df_homicidios['longitud'].apply(reemplazar)

In [39]:
df_homicidios.columns

Index(['id_hecho', 'cant_victimas', 'fecha', 'hora', 'lugar_del_hecho',
       'tipo_de_calle', 'comuna', 'longitud', 'latitud', 'involucrados',
       'victima', 'acusado', 'rol', 'sexo', 'edad'],
      dtype='object')

### Involucrados, vicitma, acusado

In [40]:
df_homicidios[df_homicidios['involucrados'].str.contains('SD', na=False)][['involucrados', 'victima', 'acusado']]

     involucrados    victima acusado
3         MOTO-SD       MOTO      SD
33        MOTO-SD       MOTO      SD
36          SD-SD         SD      SD
39        MOTO-SD       MOTO      SD
58        AUTO-SD       AUTO      SD
77          SD-SD         SD      SD
84      PEATON-SD     PEATON      SD
89      SD-CARGAS         SD  CARGAS
93          SD-SD         SD      SD
107     PEATON-SD     PEATON      SD
114       MOTO-SD       MOTO      SD
128       AUTO-SD       AUTO      SD
162       MOTO-SD       MOTO      SD
167       SD-AUTO         SD    AUTO
204       MOTO-SD       MOTO      SD
208         SD-SD         SD      SD
221       SD-AUTO         SD    AUTO
223       MOTO-SD       MOTO      SD
280       SD-MOTO         SD    MOTO
409     PEATON-SD     PEATON      SD
413       AUTO-SD       AUTO      SD
457       AUTO-SD       AUTO      SD
468       MOTO-SD       MOTO      SD
475       MOTO-SD       MOTO      SD
641  PASAJEROS-SD  PASAJEROS      SD

In [41]:
df_homicidios[df_homicidios['involucrados']!=df_homicidios['victima'] +'-'+df_homicidios['acusado']]['involucrados'].count()

22

In [42]:
df_homicidios[df_homicidios['involucrados']!=df_homicidios['victima'] +'-'+df_homicidios['acusado']][['involucrados', 'victima', 'acusado']]

         involucrados      victima   acusado
32           MULTIPLE         MOTO  MULTIPLE
63         MOTO-MOVIL         MOTO      OTRO
145          MULTIPLE       PEATON  MULTIPLE
148          MULTIPLE       PEATON  MULTIPLE
155          MULTIPLE         MOTO  MULTIPLE
180          MULTIPLE         AUTO  MULTIPLE
232          MULTIPLE       PEATON  MULTIPLE
237  AUTO-OBJETO FIJO  OBJETO FIJO      AUTO
238  AUTO-OBJETO FIJO  OBJETO FIJO      AUTO
288          MULTIPLE       PEATON  MULTIPLE
289          MULTIPLE         MOTO  MULTIPLE
347        MOTO-MOVIL         MOTO      OTRO
369          MULTIPLE       PEATON  MULTIPLE
386        AUTO-MOVIL         AUTO      OTRO
391          MULTIPLE         AUTO  MULTIPLE
442          MULTIPLE         MOTO  MULTIPLE
462          MULTIPLE    BICICLETA  MULTIPLE
476          MULTIPLE         AUTO  MULTIPLE
531          MULTIPLE         MOTO  MULTIPLE
568          MULTIPLE         MOTO  MULTIPLE
664          MULTIPLE         MOTO  MULTIPLE
693          MULTIPLE         MOTO  MULTIPLE

En base a lo evidenciado en las columnas de *involucrados*, *victimas* y *acusado*. Lo mejor es borrar la columna *participantes*.

### Rol

In [43]:
df_homicidios['rol'].isnull().sum()

0

### Sexo

In [44]:
df_homicidios['sexo'].isnull().sum()

0

### EDAD

In [45]:
df_homicidios['edad'].isnull().sum()

0

In [46]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 715 entries, 0 to 716
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_hecho         715 non-null    object
 1   cant_victimas    715 non-null    int64
 2   fecha            715 non-null    datetime64[ns]
 3   hora             714 non-null    datetime64[ns]
 4   lugar_del_hecho  715 non-null    object
 5   tipo_de_calle    715 non-null    object
 6   comuna           715 non-null    int64
 7   longitud         704 non-null    float64
 8   latitud          704 non-null    float64
 9   involucrados     715 non-null    object
 10  victima          715 non-null    object
 11  acusado          715 non-null    object
 12  rol              715 non-null    object
 13  sexo             715 non-null    object
 14  edad             715 non-null    object
dtypes: datetime64[ns](2), float64(2), int64(2), object(9)
memory usage: 89.4+ KB

In [47]:
df_homicidios.to_excel('Datasets/data.xlsx', index=False)